.wrapper {
    // background-color: rgb(72, 32, 176);
    background-color: #5e5e5e;
    margin-top: inherit;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 340px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%);
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.6) 0,
            var(--global-bg-base-color) 100%
        ),
        url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=');
    z-index: -1;
    &.no-img {
        height: 332px;
    }
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
