.container {
    /* 3 Rows 3 Cols */
    --navbar-width: 384px;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'topbar topbar topbar'
        'navbar main-view right-sidebar'
        'now-playing-bar now-playing-bar now-playing-bar';
    position: relative;
}

.navbar {
    min-width: 120px;
    max-width: 384px;
    width: var(--navbar-width);

    grid-area: navbar;

    display: flex;
    flex-direction: column;
}

.content {
    background-color: rgb(13, 87, 87);
    grid-area: main-view;
}
.footer {
    background-color: violet;
    grid-area: now-playing-bar;
}
