.wrapper {
    --min-col-width: 184px;

    --col-count: 6;
    --grid-gap: 24px;
    --min-container-width: 392px;
    width: 100%;

    display: grid;
    min-width: var(--min-container-width);
    grid-template-columns: repeat(var(--col-count), minmax(0, 1fr));
    /* grid-auto-rows: var(--item-height); */
    gap: var(--grid-gap);
    overflow-y: hidden;
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
}

/* Tablet */
/* @media screen and (min-width: 768px) and (max-width: 992px) {
    .wrapper {
        --item-height: 64px;
        --min-col-width: 230px;
    }
} */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .wrapper {
        --col-count: 5;
        --item-height: 64px;
        --min-col-width: 200px;
    }
}
/* Mobile */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .wrapper {
        --col-count: 4;
        --item-height: 64px;
        --min-col-width: 200px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        --col-count: 3;
        --item-height: 64px;
        --min-col-width: 200px;
    }
}
