.wrapper {
    min-width: 120px;
    width: 241px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    font-size: 1.28rem;
}

.logo {
    padding: 0 24px;
    margin-bottom: 19px;
    width: 100%;
}

.navbar {
    // color: #b3b3b3;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .main-navbar {
} */

.second-navbar {
    min-height: 0;
    margin-top: 24px;
    .create-playlist-icon-wrapper {
        background-color: #ccc;
        .nav-icon {
            fill: #000;
        }
    }

    .your-episodes {
        .nav-icon {
            fill: #1ed760;
        }
    }

    .liked-songs-icon-wrapper {
        background: linear-gradient(135deg, #450af5, #c4efd9);
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        .nav-icon {
            fill: #fff;
        }
    }

    .your-episodes-icon-wrapper {
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        background-color: #006450;
        border-radius: 2px;
    }

    .my-playlist {
        flex: 1;
        min-height: 0;
        height: 40px;
        overflow-y: scroll;
        padding: 8px 0;
        .nav-link {
            height: 32px;
        }
    }
}

.nav-item {
    padding: 0 8px;
}

.nav-link {
    opacity: 0.82;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.nav-icon-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.nav-icon {
    fill: #fff;
}

.seperator {
    padding: 0 24px;
    display: flex;
    align-items: flex-end;
    height: 9px;
    .seperator-shape {
        height: 1.6px;
        width: 100%;
        background-color: #282828;
    }
}
